/* CSS GENERAL */

body {
    font-family: 'Roboto Mono', monospace;
}

#brand-title {
    font-weight: bolder !important;
    font-size: 4rem;
}

#brand-subtitle {
    font-size: 2rem;
}

.navbar {
    background-color: rgb(48, 19, 5);
}

.navbar-brand {
    color: rgb(236, 239, 230) !important;
}

.nav-link {
    color: rgb(236, 239, 230) !important;
    overflow: hidden;
    -webkit-transition: all 0.30s ease;
    -o-transition: all 0.30s ease;
    transition: all 0.30s ease;
}

.nav-link:hover {
    text-decoration: underline #E93535 !important;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.jumbotron {
    height: auto;
    background-color: rgb(236, 239, 230);
}

#logo {
    height: 25vh;
    display: block;
    margin: auto;
    -webkit-transition: all 0.30s ease;
    -o-transition: all 0.30s ease;
    transition: all 0.30s ease;
}

#logo:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#logo {
    overflow: hidden;
}

#second-navbar {
    background-color: #496B4A;
}

#footer {
    color: rgb(236, 239, 230);
    background-color: rgb(48, 19, 5);
}

.contenido {
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
    background-color: rgb(236, 239, 230);
    overflow: hidden;
    -webkit-transition: all 0.30s ease;
    -o-transition: all 0.30s ease;
    transition: all 0.30s ease;
}

.contenido:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#hamburgueso {
    color: rgb(236, 239, 230);
}

#hamburgueso2 {
    color: rgb(236, 239, 230);
}

.servicios,
.tarifas {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid 1px rgb(236, 239, 230);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(236, 239, 230);
    -webkit-transition: all 0.30s ease;
    -o-transition: all 0.30s ease;
    transition: all 0.30s ease;
}

.servicios:hover,
.tarifas:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.servi-text,
.tarifa-text {
    padding-top: 10px;
    text-align: justify !important;
}

.servi-icon,
.tarifa-icon {
    font-size: 5rem;
}

.p-learn,
.p-inicio {
    text-align: justify;
}

.h3-learn,
.h3-tarifas,
.h3-servicios {
    font-weight: bolder;
    font-size: 2rem;
}