<app-header></app-header>
<app-landing></app-landing>
<app-second-navbar></app-second-navbar>
<div class="container-fluid contenido mr-auto ml-auto col-xl-8">
    <h3 class="h3-learn">
        ¿QUIÉNES SOMOS?
    </h3>
    <p class="p-learn">
        DEVIACAT editor es un sitio seguro en donde el control absoluto del código (frontend) de tu sitio web está en tus manos.
    </p>
</div>
<div class="container-fluid contenido mr-auto ml-auto col-xl-8">
    <h3 class="h3-learn">
        MISIÓN
    </h3>
    <p class="p-learn">
        Desarrollamos nuevas funcionalidades, para ofrecer una experiencia de usuario cada vez mejor para que tu experiencia de desarrollo sea más fluida y agradable, esto mejora tu productividad y llama la atención de nuevos posibles usuarios y clientes.
    </p>
</div>
<div class="container-fluid contenido mr-auto ml-auto col-xl-8">
    <h3 class="h3-learn">
        VISIÓN
    </h3>
    <p class="p-learn">
        Convertirse en una gran alternativa frente al uso de editores de código tradicionales; ya que representa una mayor facilidad de uso al previsualizar el código ejecutado.
    </p>
</div>
<app-footer></app-footer>
