<div class="jumbotron jumbotron-fluid mb-0">
    <div id="title-brand" class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <h1 class="display-4" id="brand-title">DEVIACAT editor</h1><br>
                <h2 class="lead" id="brand-subtitle">/*</h2>
                <h2 class="lead" id="brand-subtitle">Almacena, gestiona y edita el frontend de tus proyectos</h2>
                <h2 class="lead" id="brand-subtitle">*/</h2>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <img id="logo" src="../../../assets/images/logog.png" alt="">
            </div>
        </div>
    </div>
</div>
