<app-header></app-header>
<app-landing></app-landing>
<app-second-navbar></app-second-navbar>
<div class="container-fluid mr-auto ml-auto col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10" style="text-align: center;">
    <div class="row">
        <div class="tarifas col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ml-auto mr-auto">
            <span><fa-icon class="tarifa-icon" [icon]="faFileInvoiceDollar"></fa-icon></span>
            <h3 class="h3-tarifas">PLAN GRATUITO</h3>
            <h5>$0</h5>
            <p class="tarifa-text">Al adquirir este plan, usted tiene la oportunidad de poder crear hasta un máximo de 10 proyectos, cantidad suficiente para que principiantes conozcan el entorno.</p>
        </div>
        <div class="tarifas col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ml-auto mr-auto">
            <span><fa-icon class="tarifa-icon" [icon]="faFileInvoiceDollar"></fa-icon></span>
            <h3 class="h3-tarifas">PLAN DELUXE</h3>
            <h5>$50</h5>
            <p class="tarifa-text">Al adquirir este plan, usted tiene la oportunidad de poder crear hasta un máximo de 50 proyectos, hablamos de un plan para desarrolladores experimentados.</p>
        </div>
        <div class="tarifas col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ml-auto mr-auto">
            <span><fa-icon class="tarifa-icon" [icon]="faFileInvoiceDollar"></fa-icon></span>
            <h3 class="h3-tarifas">PLAN PREMIUM</h3>
            <h5>$100</h5>
            <p class="tarifa-text">Al adquirir este plan, usted tiene la oportunidad de poder crear hasta un máximo de 100 proyectos, plan dirigido a empresas que buscan agilizar el desarrollo de grandes proyectos.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>
